
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% load static %}

  <div class="container marketing">


    <!-- START THE FEATURETTES -->


        <div class="row featurette mt-5 mb-5 align-items-center">
        <div class="col-md-7 mt-3 mb-3">
            <h2 class="featurette-heading fw-normal lh-1">First featurette heading. <span class="text-body-secondary">It’ll blow your mind.</span></h2>
            <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
            <!-- Call to Action -->
            <div class="call-to-action mt-4">
              <a href="/login/" class="btn btn-primary btn-lg">Login</a>
            </div>
        </div>
        <div class="col-md-5">
          <img src="{% static 'undraw_sync_re_492g.svg' %}" alt="Real Time Sync" class="featurette-image img-fluid mx-auto" width="500" height="500">

        </div>
    </div>


    <div class="row featurette mt-5 mb-5 align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-body-secondary">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'undraw_internet_on_the_go_re_vben.svg' %}" alt="Real Time Sync" class="featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="row featurette mt-5 mb-5 align-items-center">    
      <div class="col-lg-4 d-flex flex-column align-items-center text-center">
        <div class="circle-img">
          <img src="{% static 'man_happy.jpg' %}" alt="Happy Man">
        </div>
          <h2 class="fw-normal">Heading</h2>
          <p>And lastly this, the third column of representative placeholder content.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 d-flex flex-column align-items-center text-center">
          <div class="circle-img">
            <img src="{% static 'woman_happy.jpg' %}" alt="Happy Woman">
        </div>
        <h2 class="fw-normal">Heading</h2>
          <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4 d-flex flex-column align-items-center text-center">
          <div class="circle-img">
            <img src="{% static 'man_happy2.jpg' %}" alt="Happy Man">
        </div>
          <h2 class="fw-normal ">Heading</h2>
        <p>And lastly this, the third column of representative placeholder content.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

        <div class="row featurette mt-5 mb-5 align-items-center">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-body-secondary">Checkmate.</span></h2>
            <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'undraw_real_time_sync_re_nky7.svg' %}" alt="Real Time Sync" class="featurette-image img-fluid mx-auto" width="500" height="500">
        </div>
    </div>

    <!-- Call to Action -->
    <div class="row featurette mt-5 mb-5 align-items-center">
      <div class="col-md-7 text-center mx-auto">
          <h2 class="featurette-heading fw-normal lh-1">Join Us Today! <span class="text-body-secondary text-body-secondary-dark">Don't miss out.</span></h2>
          <p class="lead">Become a part of our community and enjoy exclusive benefits. Sign up now to get started and take advantage of our special offers.</p>
          <a href="#" class="btn btn-primary btn-lg">Sign Up Now</a>
      </div>
  </div>
      
    </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
  {% endblock %}
